body {
    font-family: "Dancing Script", cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background-image: url("https://unsplash.imgix.net/photo-1428278953961-a8bc45e05f72?fit=crop&amp;fm=jpg&amp;h=500&amp;q=75&amp;w=1050");
    background-size: cover;
    height: 100%;
    text-align: center;
  }
  .left img {
    width: 58px;
    filter: invert(100%);
  }
  .left {
    display: inline-block;
    position: absolute;
    left: 30px;
    font-size: 17px;
    top: 20px;
    width: 120px;
    line-height: 18px;
    height: 90px;
    /* border: 2px solid pink; */
    text-align: center;
  }
  .mid {
    display: inline-block;
    width: 45%;
    height: 10%;
    margin: 18px 31%;
    /* border: 2px solid pink; */
  }
  .right {
    position: absolute;
    right: 12px;
    top: 30px;
    /* border: 2px solid pink; */
    display: inline-block;
  }
  .navbar {
    display: inline-block;
  }
  .navbar li {
    display: inline-block;
    font-size: 27px;
  }
  .navbar li a {
    text-decoration: none;
    color: white;
    padding: 16px 16px;
  }
  .navbar li a:hover {
    text-decoration: underline;
    color: grey;
    padding: 16px 16px;
  }
  .btn {
    font-family: "Dancing Script", cursive;
    margin: 0px 12px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 3px solid grey;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: rgb(77, 77, 77);
    font-size: 19px;
  }
  .container {
    border: 2px solid white;
    margin: 40px auto;
    padding: 20px 20px;
    width: 50%;
    border-radius: 15px;
  }
  .form-group input {
    display: block;
    text-align: center;
    border: 2px solid black;
    width: 300px;
    padding: 6px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px auto;
    font-family: "Roboto Mono", monospace;
  }
  .container button {
    display: block;
    width: 23%;
    margin: 20px auto;
  }
  /* .home-intro {

  } */
  body, html{
    height: 100%;
  }